{% extends 'layout.html' %}

{% block title %}Virtual App - Home{% endblock %}

{% block content %}
    <h2>Welcome to the Virtual App!</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis est eu elit faucibus,
        eu feugiat orci finibus. Nullam ut aliquet metus. Sed euismod justo at justo volutpat, non
        vulputate sapien laoreet. Nam id nisi vitae felis rhoncus volutpat vel nec risus.
    </p>
    <!-- Add more content for the home page as needed -->
{% endblock %}
