{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Meeting Room - {{ meeting.title }}</title>
    <!-- Include your CSS and other meta tags here -->
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>Meeting Room - {{ meeting.title }}</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-8">
                <div id="localVideoContainer">
                    <video id="localVideo" autoplay muted></video>
                </div>
            </div>
            <div class="col-4">
                <div id="remoteVideoContainer">
                    <!-- Remote videos will be displayed here -->
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/meeting_room.js' %}"></script>
</body>
</html>
